li{
    list-style: none;
}

body{
    height: 100vh;
} 

.card-title{
    text-transform: capitalize;
}

a{
    text-decoration: none;
}

.border-3 {
    border-width:3px !important;
}

.center-items{
    margin-left: auto;
    margin-right: auto;
}
